body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.4em;
}

.pie {
	background-color: black;
	color: white;
	padding: 5px;
	margin-top: 20px;
	font-size: 0.7em;
}

.principal {
	min-height: 580px;
}

.panel-izquierdo {
	border: 1px solid grey;
	background-color: #D5E4E6;
	min-height: 580px;
	font-size: 0.75em;
}

.panel-derecho {
	min-height: 580px;
	font-size: 0.7em;
}

.atClientesStruct {
	padding-top: 10px;
}