body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.4em;
}

.pie {
	background-color: black;
	color: white;
	padding: 5px;
	margin-top: 20px;
	font-size: 0.7em;
}

.principal {
	min-height: 580px;
}

.panel-izquierdo {
	background-color: #D5E4E6;
	border: 1px solid grey;
	min-height: 580px;
	font-size: 0.7em;
}

.panel-derecho {
	background-color: #DAF1F2;
	border: 1px solid grey;
	min-height: 580px;
	font-size: 0.7em;
}