<template name="contratosForm">
	<fieldset>
	<legend>Alta de Contrato</legend>
	  	<div class="col-xs-9 col-sm-9">
		   	<div class="col-xs-4 col-sm-4">
		   		{{> afQuickField name='_id' type="hidden"}}
		   	</div>
		     <div class="col-xs-4 col-sm-4">
		     	{{> afQuickField name='cuentaId' value=cuentaIdForm type="hidden" }}
		    </div>
	      	<div class="col-xs-12 col-sm-4">
		       		{{> afQuickField name='nombre'}}
	       	</div>
		   	<div class="col-xs-12 col-sm-12">
			    <div class="col-xs-12 col-sm-4">
		       		{{> afQuickField name='tipoContrato' options="allowed" firstOption=true}}
		        </div>
		      	<div class="col-xs-12 col-sm-4">
		       		{{> afQuickField name='estadoContrato' options="allowed" firstOption=true}}
	          	</div>
		    </div>
		</div>
	</fieldset>
</template>