<template name="atClientesFormSearchTemplate">
	<div class="col-xs-3 col-sm-3 atClientesStruct">
	  	{{#autoForm collection="BuscaClientes" id="buscaClientesForm" type="method" meteormethod="atBusca"}}

			<fieldset>
				<legend>Busquedas</legend>
		   		{{> afQuickField name='apellido'}}
		   		{{> afQuickField name='nombres'}}
		   		{{> afQuickField name='documentoNro'}}
		   		{{> afQuickField name='nombreSum'}}
		   		{{> afQuickField name='dirSumId'}}
		   		{{> afQuickField name='medidorNro'}}
			</fieldset>

		   	<button type="submit" class="btn btn-danger">Busca</button>
		   	<a href="{{pathFor 'clientesNewTemplate'}}" class="btn btn-default">Nuevo Cliente</a>
		   	<a href="#" class="btn btn-default">Alta Aabreviada</a>
	  	{{/autoForm}}

	   	
	</div>

</template>