<template name="cuentasShort">
	<b>{{nombre}} - Cortable:</b> {{ indCortable }}<b> - T Vcto: </b>{{tipoVencimiento}}<b> - T Emisión: </b>{{tipoEmision}}<b> - F Pago: </b>{{formaPago}}<b> - Dom Postal: </b>{{dirPostalId}}
</template>

<template name="cuentaNombre">
	{{nombre}}
</template>

<template name="cuentasListTemplate">
	<div class="col-xs-9 col-sm-9">
		<div class="list-group">
			{{#each cuentasVar}}
				<a href="{{ pathFor 'cuentasShowTemplate' }}" class="list-group-item">{{> cuentasShort }}</a>
			{{/each}}
		</div>
	</div>
	<a href="{{pathFor 'cuentasNewTemplate'}}" class="btn btn-info">Nueva cuenta</a>
</template>
