<template name="clientesShort">
			{{apellido}} {{apellido2}}, {{nombres}} - {{documentoNro}}
</template>

<template name="clientesListTemplate">
	<div class="container-fluid">
		<div class="col-xs-12 col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th class="col-xs-12 col-sm-12">Cliente</th>
						<th class="col-xs-12 col-sm-1"></th>
						<th class="col-xs-12 col-sm-1"></th>
						<th class="col-xs-12 col-sm-1"></th>
					</tr>
				</thead>
				<tbody>
					{{#each clientesVar}}
						<tr>
							<td>{{>clientesShort}}</td>
							<td><a href="{{pathFor 'clientesShowTemplate'}}" class="btn btn-primary">D</a></td>
							<td><a href="{{pathFor 'clientesUpdateTemplate'}}" class="btn btn-warning">E</a></td>
							<td><button type="submit" class="btn btn-info">S</button></td>
						</tr>
					{{/each}}
				</tbody>
				
						
			</table>


		</div>
		<a href="{{pathFor 'clientesNewTemplate'}}" class="btn btn-success">N</a>
	</div>
</template>
