<template name="atClientesStructTemplate">
	<div class="atClientesStruct">
		<div class="list-group">
		  <a href="#" class="list-group-item active">Clientes</a>
		  <a href="#" class="list-group-item">Cuentas</a>
		  <a href="#" class="list-group-item">Contratos</a>
		  <a href="#" class="list-group-item">Edesal</a>
		  <a href="#" class="list-group-item">Suministro</a>
		  <a href="#" class="list-group-item">Facturas</a>
		  <a href="#" class="list-group-item">Cargos Adicionales</a>
		  <a href="#" class="list-group-item">Medidores</a>
		  <a href="#" class="list-group-item">Ordenes de Trabajo</a>
		  <a href="#" class="list-group-item">Acuerdos</a>
		  <a href="#" class="list-group-item">Reclamos</a>
		</div>
		<div class="row">
			<button type="submit" class="btn btn-xs btn-primary">BUSQUEDA</button>
			<button type="submit" class="btn btn-xs btn-default">ALTA ABREVIADA</button>
		</div>
	</div>
</template>